@font-face{
	font-family: 'Geo Sans';
	src: url(../fonts/GeosansLight.ttf);
}
@font-face{
	font-family: 'Coolvetiva';
	src: url(../fonts/coolveticarg.ttf);
}
@font-face{
	font-family: 'Auto';
	src: url(../fonts/autoradiographic.ttf);
}
@font-face{
	font-family: 'Lemon';
	src: url(../fonts/LemonMilk.otf);
}
body{
	margin: 0;
	padding: 0;
	background-color: white; 
}
#main-container{
	background-color: white;
}
.show-results{
	height: 100%;
	font-family: 'Geo Sans'; 
	font-size: 2.1rem;
	color: white;
	padding-right: 10px;
	background-color: white;
	color: black;
}
.home-text{
	background: url("http://bit.ly/29pe54G") no-repeat center center fixed;
	background: linear-gradient:(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}
.about-text{
	background: url("http://bit.ly/29nThdW") no-repeat center center fixed;
}
.portfolio-text{
	background: url("http://bit.ly/292wqCt") no-repeat center center fixed;
}
.contact-text{
	background: url("http://bit.ly/29qsWNX") no-repeat center center fixed;
}
.home-text, .about-text, .portfolio-text, .contact-text{	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  position: absolute;
  min-height: 100%;
  width: 100%;
  padding-left: 10px; 
}
.home-page, .about-page, .portfolio-page, .contact-page{
	display: inline-block;
	margin: 5px;
	padding: 5px;
	font-family: 'Geo Sans'; 
	font-size: 2rem;
	color: black;
	margin-top: 10px;
	height: auto;
}
a:hover, .home-page:hover, .about-page:hover, .portfolio-page:hover, .contact-page:hover{
	display: inline-block;
	font-size: 2.2rem;
	text-shadow: 1px 1px #ddd1e7;
	color: black;
	padding: 0;
	padding-left: 2px;
	margin: 2px;
}
.hidden{
	display: none;
}
.header2{
	font-family: 'Coolvetiva';
	padding-left: 10px;
	padding-top: 15px;
	padding-bottom: 10px;
	text-shadow: 1px 1px white;
	font-size: 50px;
}
.about-me, li{
	width: 38%;
	margin-left: 15px;
}
dt{
	font-family: 'Auto';
}
dd{
	padding: 5px;
}
dl{
	margin-top: 10px;
}
.motto{
	font-family: 'Lemon';
	color: white;
	text-shadow: 2px 2px black;
	font-size: 9rem;
	text-align: center;	
	padding-top: 50px;
}
.and{
	font-size: 7rem;
}
li{
	list-style: none;
}
a{
	font-family: 'Coolvetiva';
}
.contact-me{
	width: 100%;
	margin-left: 10px;
	font-size: 2.5rem;
}

